/*
Псевдокласс добавляется к селектору c помощью символа :, вот так селектор:псевдокласс.*/
a:visited { ... }
li:last-child { ... }
.alert:hover { ... }
/*
first-child и last-child
Псевдокласс first-child позволяет выбрать первый дочерний элемент родителя, а last-child — последний дочерний элемент.
li:last-child { ... }
Этот селектор выберет последний элемент списка.




Псевдокласс :nth-child
С помощью псевдокласса nth-child можно выбирать теги по порядковому номеру, не используя классы. Синтаксис псевдокласса: селектор:nth-child(выражение). Выражением может быть число или формула.

1. li:nth-child(2) { ... }
2. li:nth-child(4) { ... }
3. li:nth-child(2n) { ... }

Первый селектор выберет второй элемент списка, второй селектор — четвёртый элемент списка, третий селектор — все чётные элементы.




:nth-child и контекстные селекторы
Селекторы с псевдоклассами хорошо сочетаются с контекстными селекторами.
.shooter-2 li:nth-child(3) { ... }
Выберет третий тег <li> внутри блока с классом shooter-2.




Псевдокласс :hover
Этот псевдокласс позволяет выбрать элемент, когда на него наведён курсор мыши и кнопка мыши не нажата.
a:hover { ... }
tr:hover { ... }
menu-item:hover { ... }
Первый селектор выбирает ссылку, второй строку таблицы, третий элемент с классом menu-item, но только в том случае, если на них наведён курсор мыши.



Динамические эффекты с помощью :hover */

li.top ul.submenu {
  display: none;
}

li.top:hover ul.submenu {
  display: block;
}
/*
Общий принцип такой: родительский элемент реагирует на наведение мыши и изменяет свойства элементов-потомков. То есть всё работает на контекстных селекторах вида селектор1:hover селектор2.




Псевдоклассы :link, :visited и :active для ссылок
:link выбирает ещё не посещённые ссылки.
:visited выбирает посещённые ссылки.
:active выбирает активные ссылки (кнопка мыши зажата на ссылке).

a:link { ... }
a:visited { ... }
a:hover { ... }
a:active { ... }
Обратите внимание на порядок правил. Если их расположить по-другому, то некоторые могут не сработать.



Псевдокласс :focus
Псевдокласс :focus позволяет выбрать элемент, который в данный момент в фокусе. Например, текстовое поле, в которое установлен курсор, находится в фокусе.*/
input:focus {
  /* стили для поля в фокусе */
}

/*
:valid
:invalid
:required
:optional
:checked
:disabled
:enabled*/



























