/*background-color
Цвет фона

background-image
Фоновое изображение можно задать с помощью CSS-свойства background-image.*/
selector {
  background-image: url("адрес-картинки");
}
/*Адрес картинки обязательно заключается внутрь url("..."). Элементу можно одновременно задавать и цвет фона, и фоновую картинку. В этом случае картинка будет отображаться поверх фонового цвета.


background-repeat
По умолчанию фоновое изображение повторяется. Это хорошо заметно, когда оно меньше блока. Управлять этим поведением можно с помощью CSS-свойства background-repeat. У свойства 4 значения:
- repeat — повторять во всех направлениях. Это значение по умолчанию.
- repeat-x — повторять только по горизонтали.
- repeat-y — повторять только по вертикали.
- no-repeat — не повторять.


background-position
Cвойство background-position управляет расположением фонового изображения. 
Значение свойства состоит из двух частей, разделенных пробелом: x y.

x задаёт расположение по горизонтали, а y по вертикали.

В качестве значения x можно использовать ключевые слова left, center, right, значения в процентах и в пикселях.
В качестве значения y можно использовать ключевые слова top, center, bottom, значения в процентах и в пикселях.*/
.selector {
  background-position: 50% 50%;
  background-position: right bottom;
  background-position: 50px 100px;
  background-position: 0 100%;
  background-position: left bottom;
}
/*Так сработают примеры:
1 картинка будет по центру;
2 правый нижний угол;
3 отступ 50px от левого края и 100px от верхнего;
4 левый нижний угол;
5 левый нижний угол.

Когда фоновое изображение больше блока, то оно обрезается. Управлять тем, какую часть изображения будет видно, также можно с помощью свойства background-position.
Иногда для этого удобно использовать относительные значения (проценты), а иногда абсолютные (пиксели).
Кстати, можно использовать не только положительные, но и отрицательные значения. А также комбинировать пиксели и проценты.


background-attachment
Обычно фоновое изображение прокручивается вместе с содержимым блока. Это хорошо видно в мини-браузере. Прокрутите окно вниз и увидите, что фон поднимется наверх.
С помощью свойства background-attachment можно зафиксировать фон на месте и он не будет перемещаться при прокручивании.

Значение свойства:
scroll — фон прокручивается вместе с содержимым. Это значение по умолчанию.
fixed — фон не прокручивается, зафиксирован на одном месте.*/


/*Свойство background
задать фон можно с помощью сокращенного свойства background, в котором через пробел перечисляются его компоненты:

background: [bc] [bi] [br] [bp] [ba];
[bc] — background-color
[bi] — background-image
[br] — background-repeat
[bp] — background-position
[ba] — background-attachment

Если какой-то компонент не указан, то берется значение по умолчанию.
background: #e74c3c;
background: url("img.png") no-repeat;
background: url("img.png") 10px 20px;

В первом примере просто задан цвет фона.
Во втором примере задано не повторяющееся фоновое изображение, а также по умолчанию прозрачный цвет фона, расположение в левом верхнем углу.
В третьем примере задано фоновое изображение и его расположение, а также по умолчанию прозрачный цвет фона и режим повторения во все стороны.
*/


/*Множественные фоновые изображения — это очень просто. Берёте знакомое свойство background и перечисляете в нем картинки через запятую.
background:
  url("img1.png") no-repeat 0 0,
  url("img2.png") repeat-x 50% 50%,
  url("img3.png");*/