/*
В CSS существует два типа градиентов:
- линейные: цвета идут от одной точки к другой, по прямой линии;
- радиальные: цвета идут от центра круга к его краям, во всех направлениях.

Градиент считается фоновым изображением и должен использоваться с соответствующим свойством.

linear-gradient
Синтаксис для линейных градиентов является довольно сложным, но основная идея заключается в следующем:
- определить желаемые цвета;
- где эти цвета должны появиться вдоль оси (в начале, середине, конце и т. д.);
- в каком направлении должен идти градиент.
*/

div { background-image: linear-gradient(red, blue); }

/*
По умолчанию:
  направление вертикальное, сверху вниз;
  первый цвет в начале (вверху);
  второй цвет в конце (внизу).*/

/*Изменение направления
Если направление сверху вниз вам не подходит, вы можете поменять его на один из вариантов:
- определить назначение градиента, с помощью таких ключевых слов, как to left top;
- определить конкретный угол в градусах, вроде 45deg.
Это направление должно быть установлено перед цветом:
*/
div { 
 background-image: linear-gradient(to bottom right, yellow, purple); 
 width: 200px; 
}
/*Диагональный градиент от левого верхнего угла в правый нижний угол.*/


/*Если вы хотите задать конкретный угол, то можете использовать значение в градусах:
0deg — снизу вверх;
20deg — немного по диагонали, идущей по часовой стрелке;
90deg — подобно 15 часам, слева направо;
180deg — это значение по умолчанию, сверху вниз.*/
div { 
 background-image: linear-gradient(20deg, green, blue); 
 width: 150px; 
}

/*Добавление большего количества цветов
Вы можете вставить столько цветов, сколько захотите. Они будут равномерно распределены вдоль оси:
- два цвета: 0% и 100%
- три цвета: 0%, 50% и 100%
- четыре цвета: 0%, 33%, 67% и 100%*/

div { 
 background-image: linear-gradient(orange, grey, yellow);
 width: 150px; 
}

/*Определение конкретных точек цвета
Если вы не хотите, чтобы цвет распределялся равномерно, то можете установить определённые позиции цвета, используя либо проценты (%), либо пиксели (px):*/
div { 
 background-image: linear-gradient(orange, grey 10%, yellow 50%);
 width: 150px; 
}
/*В данных параметрах:
- у цвета orange не задана позиция цвета, так что значение по умолчанию равно 0%;
- цвет grey ближе к верху, на 10% вместо 50%;
- цвет yellow занимает половину градиента, от 50% и до конца 100%.*/










/*radial-gradient
Радиальные градиенты распространяются во всех направлениях.
необходимо задать:
- форму: круг или эллипс;
- начальную точку: которая будет центром круга или эллипса;
- конечную точку: где будет край круга или эллипса.*/
div { 
 background-image: radial-gradient(red, yellow);
 padding: 1rem; 
 width: 300px; 
}
/*По умолчанию:
- градиент является эллипсом;
- первый цвет начинается в центре;
- последний цвет заканчивается в самом дальнем углу.


Начальная позиция
Начальная позиция работает как background-position. Вы можете установить её через ключевое слово at.*/
div { 
 background-image: radial-gradient(at top right, black, lightgrey);
 padding: 1rem; 
 width: 300px; 
}

/*Конечная позиция
По умолчанию форма завершается в самом дальнем углу. Вы можете выбрать:

closest-side
closest-corner
farthest-side
farthest-corner*/
div { 
 background-image: radial-gradient(closest-corner at 20px 20px, green, blue); 
 padding: 1rem; width: 300px; 
}
div:hover { background-image: radial-gradient(farthest-side at 20px 20px, green, blue); }

/*Фиксированный размер
Вместо установки начальной и конечной позиций, вы можете просто задать конкретные размеры:*/









