/*Рамка задаётся с помощью свойства border, которое состоит из трёх компонентов:
1 ширина рамки;
2 стиль рамки;
3 цвет.*/
selector {  border: 5px solid red;  }
/*Это правило задаёт красную сплошную рамку толщиной 5px.
Задавать рамку можно одним свойством border, а можно и с помощью отдельных свойств  border-width, border-style, border-color.*/
selector {
  border-width: 5px;
  border-style: solid;
  border-color: red;
}
/*Несколько самых распространенных стилей рамок:
solid — сплошная;
dashed — пунктирная;
dotted — точками.
Рамку можно задавать и строчным, и блочным элементам.*/