/*Внешние отступы

Свойство margin задает внешние отступы элемента — отступы от внешней границы элемента до границ родительского элемента или до соседних элементов.

margin: 10px;
margin: 5px 10px;
margin: 5px 10px 15px;
margin: 5px 10px 15px 20px;

1 Одинаковые отступы со всех сторон.
2 Сверху и снизу 5px, справа и слева 10px.
3 Сверху 5px, слева и справа 10px, снизу 15px.
4 Верхний, правый, нижний, левый отступы соответственно.

Можно задавать отступы для разных сторон с помощью свойств margin-left, margin-right,  margin-top, margin-bottom.

Строчные элементы реагируют только на горизонтальные отступы.
*/