/*
Блочные элементы
Элементы HTML страницы обычно делятся на блочные и строчные.

Блочные элементы можно представлять как прямоугольные области на странице. Они имеют следующие особенности:

До и после блочного элемента существует перенос строки.
Блочным элементам можно задавать ширину, высоту, внутренние и внешние отступы.
Занимают всё доступное пространство по горизонтали.
К блочным элементам относятся такие теги как: <p>, <h1>, <h2>, <ul> и так далее.
Еще один важный блочный тег — это тег <div>, который обозначает просто «блок» или «прямоугольный контейнер». Этот тег чаще всего используется для создания сеток.
*/


/*Строчные элементы
Строчные элементы располагаются друг за другом в одной строке, при необходимости строка переносится. Особенности строчных элементов:
1 До и после строчного элемента отсутствуют переносы строки.
2 Ширина и высота строчного элемента зависит только от его содержания, задать размеры с помощью CSS нельзя.
3 Можно задавать только горизонтальные отступы.
4 К строчным элементам относятся такие теги как: <a>, <strong>, <em>, <span> и так далее.

Строчные элементы предназначены для оформления текста на уровне небольших фраз и отдельных слов. Блочные же элементы предназначены для разметки крупных блоков текста (заголовки, абзацы, списки) и создания сетки.*/



/*Ширина и высота
Ширина и высота элементов задаются с помощью свойств width и height соответственно.
По умолчанию блочные элементы занимают всю доступную ширину, которая равна ширине родительского контейнера или окна браузера.
Высота по умолчанию блочных элементов зависит от их содержимого. Если задать блочному элементу ширину и высоту так, что содержимое элемента не будет в него помещаться, то оно как бы «выпадет» из него.
Строчные элементы не реагируют на задание ширины и высоты в CSS.*/
.selector { width: 100px;  height: 100px;  }
/*Вернуть значения по умолчанию можно с помощью специального значения auto:*/
.selector { width: auto;  height: auto; }




/*Как отцентровать элемент?
Чтобы отцентровать блочный элемент, нужно выполнить следующие действия:
1 Задать элементу ширину, которая меньше ширины родительского контейнера.
2 Задать для внешних отступов справа и слева значение auto.*/
selector {  width: 100px;  margin: 0 auto; }
selector {  width: 100px;  margin-left: auto;  margin-right: auto; }



/*Блочная модель и строчные элементы

Еще раз акцентируем внимание на особенности поведения строчных элементов в блочной модели:
1 Не реагируют на CSS-свойства width и height.
2 Частично реагируют на margin, воспринимая только горизонтальные отступы.
3 Частично реагируют на padding, воспринимая только горизонтальные отступы.
4 При задании вертикальных padding визуально увеличиваются, но без увеличения занимаемого места (не отталкивают другие элементы).
5 Воспринимают рамки. Аналогично padding рамки сверху и снизу не увеличивают занимаемое элементом место.*/



/*Управление типом элемента, свойство display
Тип элемента не является чем-то вечным и неизменным, его можно изменять с помощью CSS. За это отвечает свойство display.

С его помощью, например, можно сделать абзацы и заголовки строчными, а спаны и стронги блочными элементами.

У свойства display много значений. С двумя из них вы уже заочно познакомились. Свойство  display: block обозначает блочный элемент, а display: inline — строчный.*/